# Rust
/target
Cargo.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLx
sqlx-data.json
schema.sql

#Postman
phase03_endpoints.json

#Error
*.err
