# Rust
/target
Cargo.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLx
schema.sql
# .sqlx/ and sqlx-data.json must be tracked for CI

#Postman
phase03_endpoints.json



#Error

*.err

